.info {
    position: relative;  /*Если текст то просто текст*/
    font-size: 18px;

    &_map, &_tel {              /*Если присутствуют эти модивикаторы то выполняется следующее*/
        padding-left: 35px;

        &::before {
        content: "";

        position: absolute;
        left: 0px;
        top: 50%;
        width: 21px;
        height: 21px;
        transform: translate(0%, -50%);

        background-repeat: no-repeat;
        background-position: center;
        }
    }

    &_map::before {
        background-image: url('./../../img/header/map.svg');
    }

    &_tel::before {
        background-image: url('./../../img/header/phone.svg');
    }

    @include mediaTablet {
        font-size: 14px;

        &_map, &_tel {          
            padding-left: 26px;
    
        }
    }
}